
.DS_Store
SolaxConsole/.DS_Store
SolaxConsole/bin/.DS_Store
SolaxConsole/bin/Debug/.DS_Store
SolaxConsole/bin/Debug/net6.0/.DS_Store
SolaxConsole/bin/Debug/net6.0/Newtonsoft.Json.dll
SolaxConsole/bin/Debug/net6.0/OpenWeather.dll
SolaxConsole/bin/Debug/net6.0/SolaxConsole
SolaxConsole/bin/Debug/net6.0/SolaxConsole.deps.json
SolaxConsole/bin/Debug/net6.0/SolaxConsole.dll
SolaxConsole/bin/Debug/net6.0/SolaxConsole.pdb
SolaxConsole/bin/Debug/net6.0/SolaxConsole.runtimeconfig.json
SolaxConsole/bin/Debug/net6.0/SolaxReader.dll
SolaxConsole/bin/Debug/net6.0/SolaxReader.pdb
SolaxConsole/bin/Debug/net6.0/Test.csv
SolaxConsole/bin/Debug/net6.0/UnitsNet.dll
SolaxConsole/bin/Debug/net6.0/VisualCrossingWeather.dll
SolaxConsole/bin/Debug/net6.0/VisualCrossingWeather.pdb
SolaxConsole/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SolaxConsole/obj/Debug/net6.0/apphost
SolaxConsole/obj/Debug/net6.0/ref/SolaxConsole.dll
SolaxConsole/obj/Debug/net6.0/refint/SolaxConsole.dll
SolaxConsole/obj/Debug/net6.0/SolaxConsole.AssemblyInfo.cs
SolaxConsole/obj/Debug/net6.0/SolaxConsole.AssemblyInfoInputs.cache
SolaxConsole/obj/Debug/net6.0/SolaxConsole.assets.cache
SolaxConsole/obj/Debug/net6.0/SolaxConsole.csproj.AssemblyReference.cache
SolaxConsole/obj/Debug/net6.0/SolaxConsole.csproj.CopyComplete
SolaxConsole/obj/Debug/net6.0/SolaxConsole.csproj.CoreCompileInputs.cache
SolaxConsole/obj/Debug/net6.0/SolaxConsole.csproj.FileListAbsolute.txt
SolaxConsole/obj/Debug/net6.0/SolaxConsole.dll
SolaxConsole/obj/Debug/net6.0/SolaxConsole.GeneratedMSBuildEditorConfig.editorconfig
SolaxConsole/obj/Debug/net6.0/SolaxConsole.genruntimeconfig.cache
SolaxConsole/obj/Debug/net6.0/SolaxConsole.GlobalUsings.g.cs
SolaxConsole/obj/Debug/net6.0/SolaxConsole.pdb
SolaxReader/bin/Debug/net6.0/SolaxReader.deps.json
SolaxReader/bin/Debug/net6.0/SolaxReader.dll
SolaxReader/bin/Debug/net6.0/SolaxReader.pdb
SolaxReader/bin/Debug/net6.0/VisualCrossingWeather.dll
SolaxReader/bin/Debug/net6.0/VisualCrossingWeather.pdb
SolaxReader/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SolaxReader/obj/Debug/net6.0/ref/SolaxReader.dll
SolaxReader/obj/Debug/net6.0/refint/SolaxReader.dll
SolaxReader/obj/Debug/net6.0/SolaxReader.AssemblyInfo.cs
SolaxReader/obj/Debug/net6.0/SolaxReader.AssemblyInfoInputs.cache
SolaxReader/obj/Debug/net6.0/SolaxReader.assets.cache
SolaxReader/obj/Debug/net6.0/SolaxReader.csproj.AssemblyReference.cache
SolaxReader/obj/Debug/net6.0/SolaxReader.csproj.CopyComplete
SolaxReader/obj/Debug/net6.0/SolaxReader.csproj.CoreCompileInputs.cache
SolaxReader/obj/Debug/net6.0/SolaxReader.csproj.FileListAbsolute.txt
SolaxReader/obj/Debug/net6.0/SolaxReader.dll
SolaxReader/obj/Debug/net6.0/SolaxReader.GeneratedMSBuildEditorConfig.editorconfig
SolaxReader/obj/Debug/net6.0/SolaxReader.GlobalUsings.g.cs
SolaxReader/obj/Debug/net6.0/SolaxReader.pdb
VisualCrossingWeather/bin/Debug/net6.0/VisualCrossingWeather.deps.json
VisualCrossingWeather/bin/Debug/net6.0/VisualCrossingWeather.dll
VisualCrossingWeather/bin/Debug/net6.0/VisualCrossingWeather.pdb
VisualCrossingWeather/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
VisualCrossingWeather/obj/Debug/net6.0/ref/VisualCrossingWeather.dll
VisualCrossingWeather/obj/Debug/net6.0/refint/VisualCrossingWeather.dll
VisualCrossingWeather/obj/Debug/net6.0/VisualCrossingWeather.AssemblyInfo.cs
VisualCrossingWeather/obj/Debug/net6.0/VisualCrossingWeather.AssemblyInfoInputs.cache
VisualCrossingWeather/obj/Debug/net6.0/VisualCrossingWeather.assets.cache
VisualCrossingWeather/obj/Debug/net6.0/VisualCrossingWeather.csproj.AssemblyReference.cache
VisualCrossingWeather/obj/Debug/net6.0/VisualCrossingWeather.csproj.CoreCompileInputs.cache
VisualCrossingWeather/obj/Debug/net6.0/VisualCrossingWeather.csproj.FileListAbsolute.txt
VisualCrossingWeather/obj/Debug/net6.0/VisualCrossingWeather.dll
VisualCrossingWeather/obj/Debug/net6.0/VisualCrossingWeather.GeneratedMSBuildEditorConfig.editorconfig
VisualCrossingWeather/obj/Debug/net6.0/VisualCrossingWeather.GlobalUsings.g.cs
VisualCrossingWeather/obj/Debug/net6.0/VisualCrossingWeather.pdb
VisualCrossingWeather/obj/project.assets.json
VisualCrossingWeather/obj/project.nuget.cache
VisualCrossingWeather/obj/project.packagespec.json
VisualCrossingWeather/obj/rider.project.restore.info
VisualCrossingWeather/obj/VisualCrossingWeather.csproj.nuget.dgspec.json
VisualCrossingWeather/obj/VisualCrossingWeather.csproj.nuget.g.props
VisualCrossingWeather/obj/VisualCrossingWeather.csproj.nuget.g.targets
